header{
  position:fixed;
  background-color:#749bb8;
  top:0px;
  left:0px;
  width:100%;
  height:100px;
}
nav {
  position:fixed;
  margin-top:90px;
  width:100%;
  left:0px;
  right:0px;
  background-color:#5b6775;
}
nav li{
  color:white;
  display:inline;
  margin-left:100px;
}
section{
  position:relative;
  float:left;
  margin-top:140px;
  margin-left:0px;
  width:20%;
  height:500px;
  background-color:#cf4f29;
  color:navy;
}
aside{
  position:relative;
  float:left;
  margin-top:140px;
  margin-right:0px;
  width:80%;
  height:500px;
}
footer{
  clear:both;
  background-color:#c6d1ff;
}
img.full{
  width:100%;
  height:150px;
}
img.partial{
  float:right;
  height: 200px;
}
h1 {
color:#cf4f29; font-size:28pt; font-family:Verdana;
}
h2 {
color:rgb(18,128,76); font-size:18pt; font-family:Verdana;
}
p {
color:rgb(91,128,18); font-size:14pt; font-family:Verdana;
}
body {
  background-color:#e9edff;
}
a {
  color:#e9edff; font-size:14pt; font-family:verdana;
}

