header{
  position:fixed;
  background-color:#749bb8;
  top:0px;
  left:0px;
  width:100%;
  height:100px;
}
nav {
  top:100px;
  width:100%;
  height:25px;
  left:0px;
  right:0px;
  background-color:#5b6775;
}
nav li{
  color:white;
  display:inline;
  margin-left:100px;
}
section{
  float:left;
  top:150px;
  width:20%;
  height:500px;
  background-color:#cf4f29;
  color:navy;
}
aside{
  float:left;
  top:150px;
  width:80%;
  height:500px;
}
footer{
  clear:both;
  background-color:#c6d1ff;
}
img.full{
  width:100%;
  height:150px;
}
img.partial{
  float:right;
  height: 200px;
}
h1 {
color:rgb(18,109,128); font-size:28pt; font-family:Verdana;
}
h2 {
color:rgb(18,128,76); font-size:18pt; font-family:Verdana;
}
p {
color:rgb(91,128,18); font-size:14pt; font-family:Verdana;
}
body {
  background-color:#e9edff;
}
a {
  color:rgb(18,109,128); font-size:14pt; font-family:verdana;
}

