h1 {
    color:rgb(181,0,0);
    font-family:arial;
    }
.vegetable {
    background-color:rgb(191,255,192);
    width:100px;
    }
.fruit {
    background-color:rgb(252,225,177);
    width:100px;
    }
.meat {
    background-color:rgb(252,194,194);
    width:100px;
    }
.personal {
    background-color:rgb(194,252,251);
    width:100px;
    }
ul {
    font-family:arial;
}
