h1 {
    color:rgb(181,0,0);
    font-family:ubuntu;
    }
.vegetable {
    background-color:rgb(191,255,192);
    }
.fruit {
    background-color:rgb(252,225,177);
    }
.meat {
    background-color:rgb(252,194,194);
    }
.personal {
    background-color:rgb(194,252,251);
    }
ul {
    width:50%;
    font-family:ubuntu;
}
