h1 {
    color:rgb(181,0,181);
    font-family:arial;
    }
.vege {
    background-color:rgb(191,255,192);
    width:120px;
    }
.fruit {
    background-color:rgb(252,225,177);
    width:120px;
    }
.meat {
    background-color:rgb(252,194,194);
    width:120px;
    }
.dairy {
    background-color:rgb(194,252,251);
    width:120px;
}
.snack {
    background-color:rgb(166,2,255);
    width:120px;
}
.done {
    text-decoration:line-through;
}
ul {
    font-family:arial;
}
